<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="templates/main.css">
    <link rel="stylesheet" href="./main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reamore.com</title>
</head>
<body>
    <header>
        <img src="images/OIP__18_-removebg-preview.png" class="logo">
        <span class="menu">Menu</span>
    </header>
    <section class="telsa">

    </section>
    <section class="api-data">
        <div id="cars">
            <section class="toyota">
                <main class="toyota">
                    <div class="btn-container">
                        <button class="btn" id="customOrder">Models</button>
                        <button class="btn" id="viewInventory"> Boutiques</button>
                    </div>
                </main>
            </section>
        </div>
    </section>

        <section class="city-info">
            <div id="city-info"></div>
        </section>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

   <div class="Api">
    <script src="scripts.js"></script>
    <script src="new-api.js"></script>
   </div>
</body>
</html>
