* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333; 
}

.logo {
    width: 100px; 
    height: auto; 
}

.menu {
    color: #fff; 
    font-weight: bold; 
}



.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 0.5rem 1rem; 
    margin: 0 0.5rem; 
    background-color: #333; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
}

.btn:hover {
    background-color: #555; 
}

.api-data {

    padding: 2rem;
}

#cars {
    margin-top: 1rem; 
}

#cars p {
    margin-bottom: 0.5rem; 
}

body {
    background-image: url(images/OIP.jpg);
    background-size: cover; 
    background-position: center 80px; 
}