*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    letter-spacing: 1.2px;
}
.logo{
    width:120px;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position:fixed;
    top: 0; 
}
.menu{
    background-color: rgb(255, 255, 255, 0.4);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor:pointer;
}
.telsa{
    height: 100vh;
    background-image:url() ;
    background-size: cover;
    background-position: center;

}

.frameborder{
    width:100%; 
    height:400px;
}

.model{
    height:100vh;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto; 
    padding: 7rem, 3.5rem;
}

h1{
    font-size: 3rem;
}

a{
    color: inherit;
}

.btn{
    padding: .7rem 0;
}
